* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
footer,
header {
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

footer {
  background-color: #dfa878;
}

footer h4 {
  color: black;
  font-size: 30px;
  padding: 5px;
}

.pie footer div a img {
  width: 3%;
  display: inline-block;
}
